.new-post
{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;

}
.new-post header, .posts header
{
    margin-bottom: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;

}
.posts .post .info
{
    color:#aaa;
    font-style:italic;
}

.error
{
    border: 1px solid red;
    background-color: #f9b5af;
    color: red;
    text-align: center;
}

.success
{
    border: 1px solid green;
    background-color: #d1f9da;
    color: green;
    text-align: center;
}

.error ul
{
    list-style: none;
    margin:0;
    padding:0;
}
.btn-space
{
    margin-top:10px !important;
}

/* */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    opacity: 0;
    padding-right: 15px;

}


#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 200px;
    border: 1px solid #f2dede;
    border-radius: 10px;
    opacity: 0.9;
}
.sidebar-nav{
    padding: 0px;
    list-style: none;

}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;

}
.sidebar-nav li a:hover{
    color: #000;
}

